.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.cartItem {
  width: 700px;
  height: 250px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
  background-color: #1e1e1e;
}

.cartItem img {
  width: 200px;
  margin-left: 20px;
}

.cartItem .description {
  width: 100%;
  font-size: 30px;
  margin-left: 20px;
}

.countHandler button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
  margin: 0 10px;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bold;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color: #fff;
  color: black;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  font-weight: bold;
}