.navbar {
  width: 100%;
  height: 80px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
}